---
---

@import 'jekyll-theme-hacker';

footer {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	border-top: 1px dashed #b5e853;
	padding: 20px 0;
	margin: 40px 0 0 0;
}

div.toc {
	position: relative;
	float: right;
	border-left: 1px dashed #b5e853;
	border-bottom: 1px dashed #b5e853;
}

ul[type="none"] > li { list-style: none; }

ul.no-bullet > li { list-style: none; }

.btn {
	transition: all 1s ease-out;
}

.btn:hover {
	border-color: #A3AE67;
}

.btn:active {
	background: #A3AE67;
	transition: none;
}

.tab-bottom {
	float: right;
	float: inline-end;
	margin-top: 0;
	width: 2em;
	height: 2em;
	padding: 0.5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tab-right {
	vertical-align: middle;
	margin: 0;
	width: 1em;
	height: 1em;
	padding: 0.5em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

kbd {
	display: inline-block;
	white-space: nowrap;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	border: 1px solid #A3AE67;
	border-radius: 8px;
}

.clipboard {}
