---
---

@import 'jekyll-theme-hacker';

footer {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	border-top: 1px dashed #b5e853;
	padding: 1.5em 0;
	margin: 3em 0 0 0;
}

div.toc {
	position: relative;
	float: right;
	z-index: 16;
	border-left: 1px dashed #b5e853;
	border-bottom: 1px dashed #b5e853;
	padding-right: 1em;
}

ul[type="none"] li,
ul.no-bullet li {
	list-style: none;
}

.btn {
	box-shadow: none;
	transition: all 1s ease-out;
}

.btn:hover {
	box-shadow: 0 0 0.5em #A3AE67;
	border-color: #A3AE67;
}

.btn:active {
	box-shadow: 0 0 0.5em #A3AE67;
	border-color: #A3AE67;
	background: #A3AE67;
	transition: none;
}

option {
	background-color: #000;
	color: #FFF;
}

.link-shield {
	margin: 0.5em;
	padding: 0;
	line-height: 1;
	border-radius: 0.5em;
	transition: all 1s ease-out;
}

.link-shield img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	border-radius: 0.5em;
	background: #2222 center url('../images/shield-bg.svg');
}

.link-shield:hover {
	background-color: #A3AE67;
	box-shadow: 0 0 1em #A3AE67;
}

.link-shield:active {
	background-color: #A3AE67;
	box-shadow: 0 0 1em #A3AE67;
	transition: none;
}

*:not(section):target {
	text-shadow: white 0 0 2ex, white 0 0 2ex;
}

kbd {
	display: inline-block;
	white-space: nowrap;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	border: 1px solid #A3AE67;
	border-radius: 1ex;
}

.long-url {
	display: inline-block;
	overflow-wrap: anywhere;
}

overlay {
	pointer-events: none;
	display: grid;
	position: fixed;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	justify-items: center;
	align-items: center;
}

overlay.roger {
	animation: 2s ease-out roger;
}

@keyframes roger {
	from {opacity: 0;}
	10% {opacity: 1;}
	50% {opacity: 1;}
	to {opacity: 0;}
}

roger {
	pointer-events: none;
	display: inline-block;
	font-size: 2em;
	padding: 1em;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 2em;
	border: 0.1em solid rgba(127, 127, 127, 0.75);
}

.clipboard {}

@media (max-width: 12in) {

body {
	font-size: 3mm;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.25em;
	margin-bottom: 0;
}

header h1 {
	font-size: 1.875em;
}

header h1:before {
	font-size: 1.5em;
}

header h2 {
	font-size: 1.125em;
}

#main_content h1 {
	font-size: 1.875em;
}

#main_content h2 {
	font-size: 1.5em;
}

#main_content h3 {
	font-size: 1.125em;
}

#main_content h4 {
	font-size: 0.875em;
}

#main_content h5 {
	font-size: 0.75em;
	margin-top: 0.375em;
}

#main_content h6 {
	font-size: 0.75em;
	margin-top: 0.375em;
}

ul, ol {
	margin-left: 0;
	padding-left: 0;
}

li {
	margin-left: 2em;
	padding-left: 0;
}

ul li {
	list-style-image: none;
	list-style-type: '>> ';
	margin-left: 2em;
}

ul li::marker {
	content: '>> ';
	color: #B5E853;
}

.toc ul li {
	list-style-type: '>';
	margin-left: 1em;
}

.toc ul li::marker {
	content: '>';
}

ul[type="none"] li,
ul.no-bullet li {
	list-style: none;
	margin-left: 1em;
}

ul[type="none"] li::marker,
ul.no-bullet li::marker {
	content: none;
}

dd {
	margin-left: 1em;
}

pre {
	font-size: 1em;
}

.btn {
	padding: 0.5em 1.625em;
	border-radius: 3em;
	font-size: 1em;
	line-height: 1.5;
}

.btn .icon {
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.5em 0 0;
	padding: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

}

@media (max-width: 5in) {

div.toc {
	padding-left: 5%;
	padding-right: 5%;
	border-left: none;
	float: none;
}

}

.tab-bottom {
	float: right;
	float: inline-end;
	margin-top: 0;
	width: 2em;
	height: 2em;
	padding: 0.5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tab-right {
	vertical-align: middle;
	margin: 0;
	width: 1em;
	height: 1em;
	padding: 0.5em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.link-icon-left {
	vertical-align: middle;
	margin: 0 0 0 -1em;
	padding: 0;
	width: 1em;
	height: auto;
	transition: 1s ease-out;
	transition-property: visibility, opacity;
}
